@media only screen and (min-width: 701px) and (max-width: 1000px) 
{.mainnos {
    font-size:large;
    padding-top: 10%;
    letter-spacing: 0px;
    font-weight: 500;
    text-align:justify;
    word-spacing: 10px;
    line-height: 50px;
}}
