@media only screen and (min-width: 1001px) and (max-width:1024px) 
{.textolocal {
    position: absolute;
    top: 600px;
    left: 180px;
    word-spacing: 10px;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 900;
}}
